* {
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #d3d3d3 !important;
	font-family: 'Montserrat', sans-serif !important;
}

button {
	font-family: 'Nunito', sans-serif !important;
}

.App {
	color: #d3d3d3 !important;
	width: 100%;
	height: 100%;
}